:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #2f2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem)
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.app {
  height: 100vh;
  overflow: scroll;
}

header {
  font-size: 1.8rem;
  font-weight: 500;
  border-bottom: 1px solid white;
  padding: 0.75em 1em;
}

.app-container {
  display: flex;
}

.sidebar {
  flex-basis: 15%;
  border-left: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
}

.main-content {
  flex-basis: 85%;
}

.month-wrapper .title-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  border-inline: 1px solid white;
}

.month-parent-container {
  overflow-x: scroll;
  max-height: 700px;
}

.month-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 1px solid rgb(255, 255, 255);
  /* overflow-y: scroll;
  margin-bottom: 2em; */
}

.checkmark-block {
  border: 1px solid rgb(255, 255, 255);
  aspect-ratio: 1/0.8;
}

.checkmark-block-hidden {
  aspect-ratio: 1/0.8;
}

.isChecked {
  background-image: url("./assets/cross-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.change-calender-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  width: 25px;
  aspect-ratio: 1;
}


/* sidebar */
.sidebar {
  padding: 3em 1.5em;
  width: 10vw;
  min-width: 130px;
}

.each-habit {
  border-radius: 4px;
  font-size: 1.8rem;
  margin-bottom: 0.75em;
  padding: 0.25em;
  cursor: pointer;
  box-shadow: 1px 1px 0px 1px #9a9999;

}

.each-habit:hover {}

.isActive {
  color: #d3aeae;
  box-shadow: 1px 1px 0px 1px #d3aeae;

}